{% extends "base.html" %}


{% block content %}

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
    <h3 class="w3-bar-item">Menu</h3>
    <a href="#" class="w3-bar-item w3-button">Link 1</a>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>
<!-- Page Content -->
<div style="margin-left:15%">


    <div class="w3-row w3-padding-64">
        <div class="w3-twothird w3-container">
            <h2 class="w3-text-teal">Settings</h2>
        </div>
    </div>

    <body>

        <!-- POST to the app_settings view -->
        <form method="POST" action="app_settings">
            {% csrf_token %}

            <p>debug variables</p>
            <p> issuer_attributes {{ issuer_attributes }} </p>
            <p> subject_attributes {{ subject_attributes }} </p>
            <p> private_key {{ private_key }} </p>
            <p> hash_value {{ hash_value }} </p>
            <p> misc_ {{ misc_ }} </p>

            {% for i in list %}
            <li>{{ i }}</li>
            {% endfor %}


            <fieldset>
                <h4>Issuer Attributes</h4>
                <input type="checkbox" id="no_Iss_Add" name="no_Iss_Add" value="no_Iss_Add" checked="checked">
                <label for="no_Iss_Add">Do Not Add Issuer Address</label><br>

                <div class="form-group">
                    <span>Common Name</span>
                    <input class="form-field" type="text" name="html_Issuer_CN" id="html_Issuer_CN"
                        value="{{ html_Issuer_CN }}">
                </div>
                <div class="form-group">
                    <span>Organization</span>
                    <input class="form-field" type=" text" name="html_Issuer_O" id="html_Issuer_O"
                        value="{{ html_Issuer_O }}">

                </div>
                <div class="form-group">
                    <span>Organization Unit</span>
                    <input class="form-field" type="text" name="html_Issuer_OU" id="html_Issuer_OU"
                        value="{{ html_Issuer_OU }}">

                </div>
                <div class="form-group">
                    <span>Locality</span>
                    <input class="form-field" type="text" name="html_Issuer_L" id="html_Issuer_L"
                        value="{{ html_Issuer_L }}">

                </div>
                <div class="form-group">
                    <span>State</span>
                    <input class="form-field" type="text" name="html_Issuer_S" id="html_Issuer_S"
                        value="{{ html_Issuer_S }}">

                </div>
                <div class="form-group">
                    <span>Country</span>
                    <input class="form-field" type="text" name="html_Issuer_C" id="html_Issuer_C"
                        value="{{ html_Issuer_C }}">
                </div>
            </fieldset>

            <button type="submit" class="button is-success is-fullwidth is-medium mt-5" name="save_settings"
                value="">Save</button>
        </form>
    </body>

    </html>


    {% endblock content %}